<ion-header data-comp-id="header.1">
    <ion-navbar color="highlight" data-comp-id="navbar.1">
        <button data-comp-id="button.1" icon-only="" ion-button="" menuToggle="">
            <ion-icon class="ion-ios-menu" name="menu"></ion-icon>
        </button>
        <ion-buttons data-comp-id="buttons.1" left=""></ion-buttons>
        <ion-title data-comp-id="title.1" text-center="">
            <div data-comp-id="text.1" ion-text="">Request Asset Transfer</div>
        </ion-title>
        <ion-buttons data-comp-id="buttons.2" right=""></ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content data-comp-id="content.1" style="background-color: #ecebeb;">
    <ion-list data-comp-id="list.1">
        <ion-item data-comp-id="input.1">
            <ion-label color="dark" style="width: 85px;">Employee #</ion-label>
            <ion-input [(ngModel)]="data.Employee" placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="input.2">
            <ion-label color="dark" style="width: 85px;">Asset Tag #</ion-label>
            <ion-input [(ngModel)]="data.AssetTag" placeholder="Type here..." type="text"></ion-input>
        </ion-item>
        <ion-item data-comp-id="select.1" style="background-color: #ffffff;">
            <ion-label color="dark">Priority</ion-label>
            <ion-select [(ngModel)]="data.Priority.selected"
                [selectOptions]="{cssClass: 'select-full'}">
                <ion-option *ngFor="let item of data.Priority.options" [innerHTML]="item.label"
                    [value]="item.value" data-comp-id="option.1"></ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list data-comp-id="list.2">
        <ion-list-header color="calm" data-comp-id="list-header.1">
            <span color="light" data-comp-id="text.2" ion-text="">Current Asset Location</span>
        </ion-list-header>
    </ion-list>
    <ion-list data-comp-id="list.3">
        <ion-list-header color="calm" data-comp-id="list-header.2">
            <span color="light" data-comp-id="text.3" ion-text="">New Asset Location</span>
        </ion-list-header>
        <ion-item data-comp-id="input.4">
            <ion-label color="dark" style="width: 85px;">Building #</ion-label>
            <ion-input [(ngModel)]="data.NewBuilding" placeholder="Type here" type="text"></ion-input>
        </ion-item>
    </ion-list>
    <touchid-save [authRequest]="appService ? appService.getAuthRequest() : null"
        data-comp-id="touchid-save.1"
        message="Would you like to use {{getBiometricAuthType()}} to login?"
        title="{{getBiometricAuthType()}} Available"></touchid-save>
</ion-content>
<ion-footer data-comp-id="footer.1">
    <ion-row data-comp-id="row.1">
        <ion-col data-comp-id="column.1" style="text-align: center;">
            <button (click)="action('Submit')" color="highlight" data-comp-id="button.2"
                ion-button="" style="padding: 0px 20px;">
                <ion-icon class="ion-md-arrow-round-forward"></ion-icon>
                <span ion-text="">Submit</span>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>